.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  position: relative;
  background: white;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  padding: 28px 28px 36px;
  box-sizing: border-box;
  margin: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.modal__title {
  margin: 0;
  /* font-size:; */
  /* line-height: :; */
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
  padding: 5px 0;
}

.modal__input:focus {
  border-bottom: 2px solid #000; /* Make bottom border thicker on focus */
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__submit {
  width: 124px;
  height: 36px;
}

.modal__submit:disabled {
  background-color: #000;
  opacity: 30%;
}
