.profile {
  display: flex;
  gap: 116px;
  padding: 0px;
  margin: 0px auto;
}

.profile__button,
.profile__logout-button {
  font-family: "Cabinet Grotesk";
  text-align: left;
  color: black;
  margin-top: 10px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0px;
  width: 229px;
}
