.profile {
  display: flex;
  gap: 116px;
  padding: 0px;
  margin: 0px auto;
}

.profile__button,
.profile__logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 229px;
  height: 30px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  color: var(--text-color);
  background-color: var(--text-bg);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 780px) {
  .profile {
    gap: 40px;
  }
}

@media (max-width: 680px) {
  .profile {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .profile__clothes-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .clothes-section__items,
  .clothes-section__content {
    justify-content: center;
  }
}
