.profile {
  display: flex;
  gap: 116px;
  padding: 0px;
  margin: 0px auto;
}

.profile__button,
.profile__logout-button {
  text-align: left;
  width: 229px;
  font-family: "Cabinet Grotesk";
  color: black;
  background-color: transparent;
  font-size: 20px;
  margin-top: 10px;
  padding: 0px;
  border: none;
  cursor: pointer;
}
