/* Style for unchecked radio buttons */
.modal__label_type_radio {
  opacity: 0.5;
}

/* Style for checked radio button */
.modal__label_type_radio:has(.modal__radio-input:checked) {
  opacity: 1;
}

.modal__submit--add-item {
  width: 124px;
  height: 36px;
  margin: 24px 0 0px 0px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #000;
  border-radius: 10%;
  border: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.modal__submit--add-item_active {
  opacity: 100%;
}

.modal__submit--add-item:hover {
  opacity: 60%;
}

.modal__submit--add-item:disabled {
  cursor: not-allowed;
  opacity: 30%;
}
