.card {
  width: 325px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Cabinet Grotesk";
  cursor: pointer;
  position: relative;
  overflow: visible;
  transition: transform 0.3s ease;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
}

.card__image {
  width: 100%;
  border: 1px solid #0000004d;
  border-radius: 10px;
}

.item-card__like-button {
  background-image: url(../../assets/heart_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 16px;
  height: 18px;
  padding: 10px;
  position: absolute;
  right: 75px;
  top: 17px;
  transition: transform 0.3s ease;
}

.item-card__like-button:hover {
  transform: scale(1.1);
}

.item-card__like-button_active {
  background-image: url(../../assets/heart_liked.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 16px;
  height: 18px;
  padding: 10px;
  position: absolute;
  right: 75px;
  top: 17px;
}

.card:hover {
  transform: scale(1.05);
}

/* ===== Responsive design ===== */
@media (max-width: 780px) {
  .card__image {
    width: 300px;
  }
}
