.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  padding: 0px;
}

.weather-card__temp {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
  color: #ffffff;
  padding: 0px 0px 20px 16px;
}

.weather-card__image {
  width: 100%;
  height: auto;
  border: 2px solid var(--accent-color);
}
