.page {
  background-image: url(../../assets/warm_bg.svg);
  background-size: 200vw 200vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.page__content {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 40px;
}

.page.hot {
  background-image: url("../../assets/hot_bg.svg");
  background-size: 200vw 200vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.page.warm {
  background-image: url("../../assets/warm_bg.svg");
  background-size: 200vw 200vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.page.cold {
  background-image: url("../../assets/cold_bg.svg");
  background-size: 200vw 200vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
