.page {
  background-size: 200vw 200vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.page__content {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 40px;
}

/* ===== Responsive Design ===== */
@media (max-width: 1070px) {
  .page {
    background-position: center;
  }
}

@media (max-width: 620px) {
  .page {
    background-size: cover;
  }
}

@media (max-width: 400px) {
  .page__content {
    padding: 0 10px;
  }
}

/* ===== Global Styles ===== */

.page.cold.day {
  --text-bg: rgba(176, 194, 209, 0.8); /* Pastel Gray Azure */
  --text-color: #3e5a7a; /* Gray Blue */
  --accent-color: #a86d5f; /* Gray Orange */
}

.page.cold.night {
  --text-bg: rgba(10, 30, 61, 0.8); /* Dark Blue */
  --text-color: white;
  --accent-color: #513534; /* Dark Gray Red */
}

/* Clear weather */
.page.clear.day {
  --text-bg: rgba(148, 191, 198, 0.8); /* Gray Azure */
  --text-color: #364c1f; /* Dark Green */
  --accent-color: #767d21; /* Gray Olive */
}

.page.clear.night {
  --text-bg: rgba(0, 0, 139, 0.4); /* Dark blue */
  --text-color: white;
  --accent-color: rgba(255, 255, 0, 0.6); /* Yellow */
}

/* Cloudy weather */
.page.clouds.day {
  --text-bg: rgba(208, 198, 169, 0.8); /* Dark Gray Orange */
  --text-color: #413814; /* Dark Gray Brown */
  --accent-color: #75775e; /* Gray Olive */
}

.page.clouds.night {
  --text-bg: rgba(36, 35, 35, 0.745); /* Dark gray */
  --text-color: #bdab69; /* Gray Yellow */
  --accent-color: #461405; /* Dark Brown */
}

/* Misty weather */
.page.mist.day {
  --text-bg: rgba(223, 223, 211, 0.8); /* Light Yellow */
  --text-color: #4c482c; /* Dark Gray Brown */
  --accent-color: #a85633; /* Orange */
}

.page.mist.night {
  --text-bg: rgba(29, 77, 106, 0.8); /* Dark Azure */
  --text-color: #b0dee0; /* Gray Cyan */
  --accent-color: #631e10; /* Dark Brown */
}

/* Rainy weather */
.page.rain.day {
  --text-bg: rgba(105, 110, 92, 0.8); /* Steel blue */
  --text-color: white;
  --accent-color: #952d04 /* Vivid Brown */;
}

.page.rain.night {
  --text-bg: rgba(25, 25, 112, 0.4); /* Midnight blue */
  --text-color: white;
  --accent-color: rgba(138, 43, 226, 0.6); /* Blue violet */
}

/* Snowy weather */
.page.snow.day {
  --text-bg: rgba(192, 204, 212, 0.8); /* Pastel Gray Azure */
  --text-color: #556e84; /* Gray Azure */
  --accent-color: white;
}

.page.snow.night {
  --text-bg: rgba(18, 62, 97, 0.8); /* Dark Azure */
  --text-color: #d2ddd9; /* Light Turquoise */
  --accent-color: white;
}

/* Stormy weather */
.page.storm.day {
  --text-bg: rgba(47, 79, 79, 0.4); /* Dark slate gray */
  --text-color: white;
  --accent-color: #6e2204; /* Dark Brown */
}

.page.storm.night {
  --text-bg: rgba(0, 0, 0, 0.4); /* Black */
  --text-color: white;
  --accent-color: #812102;
}

/* Default fallback */
.page {
  --text-bg: rgba(255, 255, 255, 0.4); /* Light white */
  --text-color: black;
  --accent-color: rgba(0, 0, 0, 0.6); /* Black */
}
