.page {
  background-image: url(../../assets/image_bg.svg);
  background-size: 200vw 200vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
