.page {
  background-size: 200vw 200vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.page__content {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 780px) {
  .page {
    background-size: cover;
  }

  .page.hot {
    background-size: cover;
  }

  .page.warm {
    background-size: cover;
  }

  .page.cold {
    background-size: cover;
  }
}
