.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  justify-content: center;
  place-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 15px;
  width: 100%;
}

.cards__text {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  line-height: 100%;
  padding: 40px 0px 34px 10px;
  margin: 0px;
  background-color: var(--text-bg);
  color: var(--text-color);
  border: 2px solid var(--accent-color);
  border-radius: 10px;
}

/* ===== Responsive Design ===== */
@media (max-width: 780px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4px;
  }
}
