.modal__submit {
  width: 124px;
  height: 36px;
  margin: 24px 0 0 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #000;
  border-radius: 10%;
  border: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.modal__submit_active {
  opacity: 1;
}

.modal__submit:hover:not(:disabled) {
  opacity: 0.6;
}

.modal__submit:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
