.header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 32px 0px 28px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.header__logo-container {
  width: 100px;
  height: 50px;
  overflow: hidden;
  margin-right: 24px;
}

.header__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(3.2);
  transform-origin: center;
}

.header__date-and-location {
  margin: 0;
  width: 160px;
  height: 45px;
  display: flex;
  flex-direction: row;
  background-color: var(--text-bg);
  color: var(--text-color);
  padding: 5px;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  width: 123px;
  height: 24px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--text-bg);
  color: var(--text-color);
  padding: 5px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  line-height: 24px;
  width: 100%;
  height: 25px;
  background-color: var(--text-bg);
  color: var(--text-color);
  padding: 5px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__avatar-placeholder {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #888;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.header__group-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__login-btn,
.header__register-btn {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.header__avatar {
  height: 40px;
  width: 40px;
  border: 2px solid var(--accent-color);
}

/* ===== Responsive design ===== */
@media (max-width: 780px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    font-size: 16px;
    line-height: 20px;
  }

  .header__logo-container {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .header__date-and-location {
    width: auto;
    text-align: center;
    margin-bottom: 8px;
  }

  .header__group-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin: 8px 0;
  }

  .header__add-clothes-btn {
    margin: 8px 0;
    font-size: 16px;
  }

  .header__user-container {
    margin-top: 8px;
  }

  .header__username {
    display: none;
  }
}
