.modal__content.modal__content_type_image {
  height: 610px;
  width: 498px;
  margin: 0;
  position: relative;
  padding: 0px;
}

.modal__close-preview {
  background-image: url(../../assets/preview_close.svg);
  background-color: transparent;
  height: 16px;
  width: 16px;
  top: 26px;
  right: 26px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.modal__close-preview:hover {
  transform: scale(1.1);
}

.modal__image {
  height: 498px;
  width: 498px;
  object-fit: contain;
  border-radius: 10px 10px 0px 0px;
  padding: 0px;
}

.modal__footer {
  height: 112px;
  width: 498px;
}

.modal__caption {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 0px 0px 32px;
  margin: 0;
}

.modal__weather {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 12px 0 32px 32px;
  margin: 0;
}

.modal__delete-item {
  width: 101px;
  height: 24px;
  right: 32px;
  bottom: 68px;
  position: absolute;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  background-color: transparent;
  color: #ff4d00;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}
