.sidebar {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  flex-wrap: nowrap;
}
.sidebar__avatar {
  padding: 0px 16px 0px 0px;
  margin: 0px;
  width: 55px;
  height: 55px;
}
.sidebar__username {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  background-color: var(--text-bg);
  color: var(--text-color);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  padding: 5px;
  white-space: nowrap;
}

.profile__sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
