.sidebar {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  flex-wrap: nowrap;
}
.sidebar__avatar {
  padding: 0px 16px 0px 0px;
  margin: 0px;
}
.sidebar__username {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
}
