.clothes-section {
  display: flex;
  flex-direction: column;
}
.clothes-section__content {
  display: flex;
  flex-direction: row;
}

.clothes-section__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  padding: 5px;
  background-color: var(--text-bg);
  color: var(--text-color);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
}

.clothes-section__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-left: 20px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--text-bg);
  color: var(--text-color);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
}

.clothes-section__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  padding: 0;
}
